<!--
     File name: about.ejs
     File Type: Page Partial
     Student's name: Sukhjinder Kaur
     Student ID: 301087895
     Date: 10/10/2020
-->
<!--Main Content-->
<main role="main" class="container">
     <section class="jumbotron">
          <div class="row">
               <div class="col-md-12 mb-4">
                    <h1>About Me</h1>
               </div>
               <div class="col-md-4">
                    <img src="/assets/images/profile.jpg" class="w-100">
               </div>
               <div class="col-md-8 text-justify">
                    <h5>Hi, there! I am Sukhjinder Kaur</h5>
                    <p>Currently, I am enrolled in Software Engineering Technology program at Centennial
                         College. Where, I am learning various programming languages like C#, Java, HTML, CSS,
                         JavaScript, Node.js, Express.js and SQL. Previously, I have done Bachelor of Arts and have
                         seven years of work experience in customer service, team Handling and administration</p>
                    <p>I am a focused and a result-oriented person. Having achieved a valuable experience from my past
                         employment's, I decided to expand my professional horizons by seeking a new career challenge in
                         technology. So, I decided to go with the advancement in the technology sector and enrol my self
                         in software engineering and technology program.</p>
                    <p>Now, I enjoy experimenting with code and discovering the answers how tech work's. I believe in
                         the saying by Abn Motivation (2019) that, <em><strong>"Great things never come from comfort
                                   zones."</em></strong></p>
                    <h4>Learn more about my work experiences</h4>
                    <a class="button buttonColor buttonMargin" href="/assets/Sukhjinder Kaur - Resume.pdf"
                         target="_blank">
                         Resume
                    </a>
               </div>
          </div>
     </section>
</main>
