<!--
     File name: footer.ejs
     Student's name: Sukhjinder Kaur
     Student ID: 301087895
     Date: 10/10/2020
-->
<!--Script Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>