<!--
     File name: index.ejs
     File Type: Page Partial
     Student's name: Sukhjinder Kaur
     Student ID: 301087895
     Date: 10/10/2020
-->
<!--Main Content-->
<main role="main" class="container">
  <div class="jumbotron row justify-content-md-center">
    <div class="col-8">
      <h1 class="display-4">Welcome To My <%= title %></h1>
      <hr class="my-4">
      <p class="text-center"><em>"My goal is to continually develop professional values and to stay competitive in
          tomorrow's world”</em></p>
      <p class="text-right"><strong>Sukhjinder Kaur</strong></p>
    </div>
</main>
