<!--
     File name: projects.ejs
     File Type: Page Partial
     Student's name: Sukhjinder Kaur
     Student ID: 301087895
     Date: 10/10/2020
-->
<!--Main Content-->
<!--Card for project one-->
<main role="main" class="container">
     <div class="row mb-4">
          <div class="col-sm-4">
               <div class="card">
                    <img class="card-img-top" src="/assets/images/webproject.png" alt="WebProject">
                    <div class="card-body">
                         <h5 class="card-title">Web Development</h5>
                         <p class="card-text">Project for developing a Real Estate website</p>
                         <a href="http://studentweb.cencol.ca/skaur831/Project/Site/index.html" target="_blank"
                              class="button buttonColor buttonMargin">Cencol</a>
                    </div>
               </div>
          </div>
          <div class="col-sm-4">
               <!--Card for project two-->
               <div class="card">
                    <img class="card-img-top" src="/assets/images/store.jpg" alt="store">
                    <div class="card-body">
                         <h5 class="card-title">C#-Programming</h5>
                         <p class="card-text">A multi-form project that simulates a computer purchase</p>
                         <a href="https://github.com/Sukhjinder-Kaur/Assignment5DollarComputers" target="_blank"
                              class="button buttonColor buttonMargin">GitHub</a>
                    </div>
               </div>
          </div>
          <div class="col-sm-4">
               <!--Card for project three-->
               <div class=" card">
                    <img class="card-img-top" src="/assets/images/java-quiz.jpg" alt="Card image cap">
                    <div class="card-body">
                         <h5 class="card-title">Java-Programming</h5>
                         <p class="card-text">Created a quiz and a lotto number generator</p>
                         <a href="https://github.com/Sukhjinder-Kaur/JavaProgramming-Codes/tree/master/SukhjinderKaur_COMP228_Sec005_Lab2"
                              target="_blank" class="button buttonColor buttonMargin">GitHub</a>
                    </div>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-sm-4">
               <!--Card for project four-->
               <div class="card">
                    <img class="card-img-top" src="/assets/images/restaurant.png" alt="restaurant">
                    <div class="card-body">
                         <h5 class="card-title">Client Side Web Development</h5>
                         <p class="card-text">Created a restaurant website with links to different other assignments</p>
                         <a href="http://studentweb.cencol.ca/skaur831/Assignment6/index.html" target="_blank"
                              class="button buttonColor buttonMargin">Cencol</a>
                    </div>
               </div>
          </div>
          <div class="col-sm-4">
               <!--Card for project five-->
               <div class="card">
                    <img class="card-img-top" src="/assets/images/bmi-calculator.jpg" alt="BMI">
                    <div class="card-body">
                         <h5 class="card-title">C#-Programming</h5>
                         <p class="card-text">Designed a BMI calculator</p>
                         <a href="https://github.com/Sukhjinder-Kaur/Assignment04_BMICalculator" target="_blank"
                              class="button buttonColor buttonMargin">GitHub</a>
                    </div>
               </div>
          </div>
     </div>
</main>
