<!--
     File name: bottom_nav.ejs
     Student's name: Sukhjinder Kaur
     Student ID: 301087895
     Date: 10/10/2020
-->
<!--Footer Section-->
<footer>
     <nav class="navbar navbar-dark bg-dark fixed-bottom">
          <h6 class="display-6 navbar-text"> &copy; Copyright 2020-Sukhjinder Kaur-Centennial College</h6>
     </nav>
</footer>
